body {
  font-family: Arial;
  padding: 20px;
}

nav button {
  margin-right: 10px;
}

.box {
  border: 1px solid #999;
  padding: 10px;
  margin: 10px 0;
}

input, button, select {
  margin: 5px;
  padding: 5px;
}
